.dark{
    position: fixed;
    margin-top: 0.5px;
    margin-left: 90px;
    width: 1100px;
    height: 300px;
}

.card{
	margin-top: 305px;
	position:fixed;
	margin-left:150px
}

.btn-danger{
	margin-left:80px;
}

.btn1{
	margin-left:300px;
	border: none;
	background-color: orangered;
	color: white;
}

.btn-primary{
	margin-right:300px;
}

.book2{
	font-size: 20px;
	font-weight: bolder;
}

.imag2{
	height:655px; background-size:cover; width:auto;
    background-image:url('../../assets/addpage.jpg');
    background-position:50% 50%;
}
