.card{
		width: 400px;
		height: 340px;
		text-align: center;
		background-color:white;
		margin: 0 auto;
		margin-top: 95px;
		border-color: orangered;
		position: absolute;
		margin-left: 420px;
		
		
	}